<table>
  <tr>
    <th>Title</th>
    <% if can? :manage, ForumArea %><th>Actions</th><% end %>
  </tr>

<% @forum_areas.each do |forum_area| %>
  <tr>
    <td><%= link_to forum_area.title, forum_area %></td>
		<% unless forum_area.id == 1 %>
		  <% if can? :manage, forum_area %>
				<td class="actions">
		    <%= link_to 'Edit', edit_forum_area_path(forum_area) %>
		   	<%= link_to 'Destroy', forum_area, confirm: 'Are you sure?', method: :delete %>
				</td>
		  <% end %>
		<% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :new, ForumArea %>
  <%= link_to 'Neuer Bereich', new_forum_area_path %>
<% end %>

