<table>
  <tr>
    <th>Title</th>
    <th colspan="2">Actions</th>
  </tr>

<% @forum_areas.each do |forum_area| %>
  <tr>
    <td><%= link_to forum_area.title, forum_area %></td>
		<td>
    <% if can? :update, forum_area %>
      <%= link_to 'Edit', edit_forum_area_path(forum_area) %>
    <% end %>
    <% if can? :destroy, forum_area %>
      <%= link_to 'Destroy', forum_area, confirm: 'Are you sure?', method: :delete %>
    <% end %>
		</td>
  </tr>
<% end %>
</table>

<br />
<% if can? :new, ForumArea %>
  <%= link_to 'Neuer Bereich', new_forum_area_path %>
<% end %>

