<p>
<%= link_to "Neue Runde", :controller => "tournament_results", :action => "new" %> | 
</p>

<table>
	<% i=0
		@rounds.each do |round| 
		i = i+1 
	%>
	<tr>
		<th colspan ="3"> Runde <%= i %></th>
	</tr>
  <tr>
    <th>Spieler1</th>
    <th>Ergebnis</th>
    <th>Spieler2</th>
  </tr>
		<% round.each do |tournament_result| %>
			<tr>
				<td><%= link_to @players[tournament_result.spieler1].name.+(', '.+(@players[tournament_result.spieler1].vorname)), :controller => "tournament_results", :action => "edit", :id => tournament_result.id, :player => 1 %></td>			
				<td>
					<% case (tournament_result.ergebnis)
						when 1					
					%>
						<b> 1 : 0 </b>
					<% when 2 %>
						<b> 0 : 1 </b>
					<% else %>
						N/A
					<% end %></td>
				<td><%= link_to @players[tournament_result.spieler2].name.+(', '.+(@players[tournament_result.spieler2].vorname)), :controller => "tournament_results", :action => "edit", :id => tournament_result.id, :player => "2" %></td>
			</tr>
		<% end %>
	<% end %>
</table>
