/* CSS Document */
body{
	background-image:url(/assets/BG.png);
	background-repeat:repeat-x;
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
img{
	border:0px;
}
#div_Container{
	vertical-align:top;
	color: #FFFFFF;
	text-align: center;
	width: 900px;
	height: 867px;
}
#div_Logo{
	width: 900px;
	height: 196px;
}

#div_Platzhalter_2{
	width: 156px;
	height: 671px;
	float:left;
	background-image:url(/assets/Platzhalter_2.png);
}
#div_Content_Box{
	width: 578px;
	height: 671px;
	float:left;
}
#div_Menue{
	background-image:url(/assets/BG_Menue.png);
	width: 578px;
	height: 27px;
	clear:both;
}
#div_Ueberschrift{
	background-image:url(/assets/BG_Ueberschrift.png);
	width: 578px;
	height: 41px;
	text-align:center;
	clear:both;
	font-size: 19px;
	color: #dbdbda;
	text-decoration: underline;
	padding-top:15px;
}


#div_Rumpf{
	width:578px;
	height:501px;
	clear:both;
}
#div_Rahmen_Links{
	width:24px;
	height:501px;
	float:left;
	background-image:url(/assets/Rahmen_Links.png);
}

/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #000000;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background: #f2f2f2;
	border:1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	color: #fff;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

td.actions {
	width: 150px;
	text-align: center;
	white-space: nowrap;
}
td a{
	color: #000;
}
td.actions a {
	color: #000;
	margin: 0px 6px;
}
/********/
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
	background-color:#000000;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
.error-message{
  font-size:100%;
  color:#FF0000;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
	margin:0px;
}
input, textarea {
	font-size: 120%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 0px;
	width: 75%;
	position: relative;
  margin:0px 0px 5px 0px;
}
textarea{
	height:180px;
}

input[type=checkbox] {
	margin: 0px 6px 5px 2px;
	width: auto;
}

input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

#div_Inhalt{
	width:518px;
	height:501px;
	float:left;
	padding-right:10px;
	background-image:url(/assets/BG_Inhalt.png);
	background-repeat:no-repeat;
	overflow:auto;
	text-align:left;
	color: #dbdbda;
}
#news_mehr{
	text-align:right;
}
a{
	color: #dbdbda;
	text-decoration:underline;
}
#div_Rahmen_Rechts{
	width:26px;
	height:501px;
	float:right;
	background-image:url(/assets/Rahmen_Rechts.png);
}
#div_Rahmen_Unten{
	width:578px;
	height:57px;
	float:none;
	background-image:url(/assets/Rahmen_Unten.png);
	text-align:center;
	color:#060606;
	padding-top:30px;
}
#div_Rahmen_Unten a{
	color:#060606;
}
#div_Platzhalter_4{
	width: 166px;
	height: 671px;
	float:left;
	background-image:url(/assets/Platzhalter_4.png);
}
h2{
	font-size:120%;
	color:#dbdbda;
}
h1{
	font-size:150%;
	color:#975b04;
}
h1 a{
    color:#975b04;
}
.tournament_results{
	text-align:center;
	width: 10%;
}
.tournament_results_spieler1{
	text-align:right;
}
